@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --background: #0d0d0d;
    --foreground: #d5dae0;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    scroll-behavior: smooth;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
   /*-webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;*/
    -webkit-text-fill-color:  #d5dae0;
}


/**
Change Autocomplete styles in Chrome
/*https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
/**
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    color: blue; //???
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}*/
