/* Regular */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* SemiBold */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Inter', sans-serif;
    background-color: #0d0d0d;
    scroll-behavior: smooth;
}